# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# VS Code related
.vscode/

# Android Studio related
android/.gradle/
android/app/build/
android/gradle/

# iOS build files
ios/Pods/
ios/.symlinks/
ios/build/

# Gradle related
.gradle/
**/*.log

# Miscellaneous
*.class
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
